.nav {
  display: flex;
  align-items: center;
    align-items: center;
    justify-content:space-around;
    background: linear-gradient(90deg, #F4E784 0%,  #FC8EBA 50%, #AF8BEC 100%);

}
.nav-list {
padding-left: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.nav-logo {
font-weight: 300;
color: var(--light-color);
font-size: 2rem;
padding-left: 20px;
}

.nav-list-item {
list-style: none;
padding-left: 15px;
padding-right: 15px;
letter-spacing: 2px;
color: var(--light-color);
}

.nav-list-item>a {
    color: inherit;  
    text-transform: uppercase;
    text-decoration: none;
    }


.header {
    display: flex;
    margin-top: 60px;
    margin-bottom: 50px;
    align-items: center;
    justify-content:space-around;

}
#text {
  width: 50%;
}
#text h1{
font-weight: 200;
font-size: 3rem;
background: linear-gradient(90deg, #F4E784 0%,  #FC8EBA 50%, #AF8BEC 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
line-height: 1;
}

#text h2 {
  font-weight: 150;
  font-size: 1.5rem;
  word-wrap:normal;
}

.button {
  width: fit-content;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #cacaca;
  border-radius: 5px;
  padding: 2px 60px;

}
.button:hover {
  background: linear-gradient(90deg, #F4E784 0%,  #FC8EBA 50%, #AF8BEC 100%);
  color: white;
  border-style: none;
  font-weight: 300;

}

.header-image {   
   display: flex;
    width: 30%;
    height: auto;
}
    
.page-content {
  display: flex;
justify-content: space-evenly;
align-items: flex-start;
flex-wrap:wrap;
}

.content-area {
  width: 100%;
  flex-grow: 1;
  margin: 15px;
}

/* Formatting settings for top of each section (about, projects, contact) */
.content-header {
  letter-spacing: 2px;
  background: linear-gradient(90deg, #F4E784 0%,  #FC8EBA 50%, #AF8BEC 100%);
  padding: 15px;
  color: white;
  border-radius: 5px;  
}
/* Pink shadow appears underneath section heading when hovered */
.content-header:hover {
  box-shadow: 10px 10px 5px #f8c9dc;

}

.content-body {
  padding-left: 10px;
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  align-items:center;
  align-content:space-around;
}
/* Structure of project images */
.row {
  display: flex;
  flex-wrap: wrap-reverse;
}
/* Setting unique paragraph size for text within row class */
.row p{
  font-size: 1rem;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
/* Sets footer characteristics, including background and organisation of elements. */
footer {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  background: linear-gradient(90deg, #F4E784 0%,  #FC8EBA 50%, #AF8BEC 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}
/* Sets header link text colour and style */
header>a {
  color: white;  
  text-transform: uppercase;
  text-decoration: none;
  }
/* Aligns elements within contact id and content-body class to the centre */
  #contact .content-body {
    justify-content: center;
  }
/* Sets body a tags text colour + style */
  body>a {
    color: #808080;  
    text-transform: uppercase;
    text-decoration: none;
    }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .header {
    display:flex;
    flex-wrap: nowrap;
      flex-direction: column-reverse;
  }
  .column {
    width: 100%;
  }
}